@font-face {
    font-family: 'YentNotes';
    src: url('YentNotes-Bold.woff2') format('woff2'),
        url('YentNotes-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'YentNotes Cacophony';
    src: url('YentNotesCacophony-Bold.woff2') format('woff2'),
        url('YentNotesCacophony-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

