@font-face {
    font-family: 'Mail Ray Stuff';
    src: url('MailRayStuff-Regular.woff2') format('woff2'),
        url('MailRayStuff-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mail Ray Stuff';
    src: url('MailRayStuff-Regular.woff2') format('woff2'),
        url('MailRayStuff-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

